body{
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);    text-align: center;
    font-family: cursive;
    color:darkblue
    


}

header{
    font-size: 30px;
    margin:0%;

}

.VS{
    display: inline;
    margin-right: 10px;
    text-align: center;
    font-size: 50px;
}


.usuario{

    color:darkblue;
   
    
}

.pc{

    color:darkblue;
    
}

.user{
    float: left;
}

.computer{
    float: right;
}



.img_usuario{
    float: left;
    display: inline;

}

.imgpc{
    float:right;
    display: inline;
}



.piedra{
    color: aliceblue;
    float: left;
}
.papel{
    color: aliceblue;
}
.tijera{
    color: aliceblue;
    float: right;
}
